<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-center">
    
    <div class="push-down">
    <h3><%= @name %></h3>
    <img src="<%= @dog_img %>" alt="" class="dog-img">
    <p><%= @age %> years old</p>
    <p><%= @weight %> kg</p>
    <p><%= @vetapr %> by Vet</p>
    <% @breeds.each do |breed| %>
      <p><%= breed.name %></p>
    <% end %>

    <form action="/dashboard/<%= @name %>/<%= @id %>/edit">
      <button class="btn btn-primary">Edit Details</button>
    </form>

    <form action="/dashboard/<%= @name %>/<%= @id %>/remove" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-primary">Remove Dog</button>
    </form>

    </div>
  </div>
</div>