<!-- SIDEBAR! -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <div class="push-down">
      <ul class="nav sidebar-custom nav-pills nav-stacked col-xs-12 col-sm-3">
        <li role="tab1" class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
        <li role="tab2"><a href="#dogs" data-toggle="tab">Dogs</a></li>
        <li role="tab3"><a href="#messages" data-toggle="tab">Messages</a></li>
      </ul>

      <div class="tab-content col-xs-12 col-sm-9">
        <div class="tab-pane active in" id="tab1">
          <div class="user-home panel panel-default">
            <h3>Hi <%= current_user.firstname %></h3>
            <p>You can check your dog list and messages in your dashboard.</p>
          </div>
        </div>

        <div class="tab-pane fade" id="dogs">
          <div class="user-dog-list panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">List of Dogs</h3>
            </div>
            <table class="table table-hover">
              <% @user_dogs.each do |dog| %>
                <tr>
                  <th>
                    <a href="/dashboard/<%= dog.name %>/<%= dog.id %>"><h3><%= dog.name %></h3></a>
                  </th>
                  <th>
                    <form action="/dashboard/<%= dog.name %>/<%= dog.id %>/edit">
                      <button class="btn btn-primary">Edit Details</button>
                    </form>
                  </th>
                  <th>
                    <form action="/dashboard/<%= dog.name %>/<%= dog.id %>/remove" method="post">
                      <input type="hidden" name="_method" value="delete">
                    <button class="btn btn-primary">Remove Dog</button>
                    </form>
                  </th>
                </tr>
              <% end %>
            </table>
            
          </div>

          <div class="dropdown add-dog-btn">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add New Dog
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">

                <form class="form-user-detail" action="/dashboard/dogs" method="post" enctype="multipart/form-data">
                  
                  <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name">
                  </div>

                  <div class="form-group">
                    <label for="">Age</label>
                    <input type="text" class="form-control" name="age">
                  </div>

                  <div class="form-group">
                    <label for="">Weight</label>
                    <input type="text" class="form-control" name="weight">
                  </div>

                  <div class="form-group">
                    <label for="">Image</label>
                    <input type="file" name="dog_img">
                  </div>

                  <div class="form-group">
                    <select name="breed_id" id="">
                      <% @breeds.each do |breed| %>
                        <option value="<%= breed.id %>">
                          <%= breed.name %>
                        </option>
                      <% end%>
                    </select>
                  </div>
                  <button class="btn btn-primary">Add new dog</button>

                </form> 
              </ul>
            </div>
        </div> <!-- END OF DOG TAB -->


        <div class="tab-pane fade" id="messages">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sent Messages</h3>
            </div>
            <table class="table table-hover">
              <% @sent_messages.each do |sent_message| %>
                <tr>
                  <th>
                    <p><%= sent_message.content %></p>
                  </th>
                </tr>
              <% end %>
            </table>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Received Messages</h3>
            </div>
            <table class="table table-hover">
              <% @received_messages.each do |received_message| %>
                <tr>
                  <th>
                    <p><%= received_message.content %></p>
                  </th>
                </tr>
              <% end %>
            </table>
          </div>

        </div> <!-- END OF MESSAGES TAB -->


        </div> 
      </div>  

    </div>
  </div>
</div>

